<html>
    <head>
        <title>Psychology Experiment - Thanks</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/static/css/style.css" type="text/css">

        <script type="text/javascript">
            function submit() {
                window.location.href = "{{ completion_url }}";
            }
        </script>
    </head>

    <body>
        <div id="container-not-an-ad">
            <div class="well">
                <h1>Thanks for your participation</h1>
                <hr>

                <p>To submit your results, simply press the button below.</p>

                <button id="submit_button"  class="btn btn-success btn-lg" onclick="submit()">
                    Complete Task
                </button>

            </div>

    </div></body></html>
</html>
